@charset "UTF-8";   

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #474747;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px 0px;
    box-shadow: #353535 5px 4px 6px;
}

header h1 {
    color: black;
    text-align: center;
}

header > nav > a{
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px
    
}

header > nav > a:hover{
    color: rgb(75, 8, 199);
    text-decoration: underline;;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: rgb(77, 77, 77);
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.253);
}

main{
    background-color: rgb(252, 252, 252);
    margin: 10px;
    border-radius: 0px 5px;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

p#imagem {
    text-align: center;
    margin: 20px;
}

p{
    text-align: justify;
    margin: 20px;
    text-indent: 30px;
    
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    text-align: right;
    padding: 0px 10px 0px 0px;
}