@charset "UTF_8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');

@font-face {
    font-family: 'titulo';
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');
}

*{
    padding: 0px;
    margin: 0px
}

html, body{
    height: 100%;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'titulo', cursive;
    font-size: 2.5em;
}

header > p{
    padding-bottom: 50px;
    font-family: 'titulo', cursive;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 30px;
    line-height: 2em;
    

}

section.normal{
    background-color: white;
    color: black;
    
}

section.imagem{
    background-color: rgb(43, 43, 43);
    color: rgb(253, 253, 253);
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}