@charset "UTF_8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

:root{
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:"Permanent Marker", cursive;
    --fonte3:"Delius", cursive;
}

*{
    padding: 0px;
    margin: 0px
}

html, body{
    height: 100%;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 8vw;
}

header > p{
    padding-bottom: 50px;
    font-family: 'titulo', cursive;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
}

a:hover{
    text-decoration: underline;
}


section{
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3.8vw;
    font-weight: bold;
    

}

section > p{
    padding-bottom: 25px;
}

section.normal{
    background-color: white;
    color: black;
    
}

section.imagem{
    background-color: rgb(27, 27, 27);
    color: rgb(253, 253, 253);
    box-shadow: inset 15px 15px 20px 0px rgba(0, 0, 0, 0.438);
    background-size: cover;
    background-attachment: fixed;
    
    
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.562);
    display: inline-block;
    padding: 10px;
    text-shadow: 2px 2px 4px #0000003f;
}

#imagem1{
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
}

#imagem2{
    background-image: url("../imagens/background002.jpg");
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: small;

}